@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;400;900&family=Open+Sans&display=swap");
@import "reset.css";
@import "variables.css";

/*components */
@import "components/status-bar.css";
@import "components/sidebar.css";
@import "components/nav-bar.css";
@import "components/screen-header.css";
@import "components/user-component.css";
@import "components/badge.css";
@import "components/alt-screen-header.css";
@import "components/no-mobile.css";

/*screens */
@import "screens/logein.css";
@import "screens/friendlist.css";
@import "screens/story.css";
@import "screens/more.css";
@import "screens/settings.css";
@import "screens/chat.css";
@import "screens/story-book.css";
@import "screens/story-map.css";

body {
  font-family: "Noto Sans KR", "Open Sans", sans-serif;
  /*background-color: var(--yellow);*/
  background-image: url("king.png");
  background-size: cover;
  height: 115vh;
  width: auto;

  color: var(--white);
}

.main-screen {
  padding: 0px var(--horizontal-space);
}

input::placeholder {
  font-family: "Noto Sans KR";
}
