.friends-screen {
  padding: 0px var(--horizontal-space);
}

.screen-header audio {
  width: 100px;
  height: 30px;
}

.frineds-display {
  padding: 0px 25px;
  margin-bottom: 20px;
}

.frineds-display-link {
  display: flex;
  justify-content: center;
  background-color: #fafafa;
  padding: 13px 25px;
  position: relative;
  margin-bottom: 10px;
  align-items: center;
  color: black;
}

.frineds-display-link i {
  color: var(--red);
  padding: 0px 6px;
}

.friends-screen__channel {
  margin-top: 25px;
  border-top: 1px solid var(--green);
  padding-top: 10px;
}

.friends-screen__channel-header {
  display: flex;
  justify-content: space-between;
  color: var(--green);
  margin-bottom: 20px;
}

#splash-screen {
  background-color: var(--green);
  position: absolute;
  height: 100vh;
  width: 100vw;
  top: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;

  font-size: 35px;
  animation: hideSplashScreen 0.4s ease-out forwards;
  animation-delay: 1.8s;
  font-weight: 800;
  z-index: 10;
}

#splash-screen div {
  padding-left: 30px;
  padding-bottom: 15px;
}

@keyframes hideSplashScreen {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
    visibility: hidden;
  }
}

.log-out {
  animation: logOut 3s linear infinite;
}

@keyframes logOut {
  0% {
    color: var(--white);
  }
  50% {
    color: var(--red);
  }
  100% {
    color: var(--white);
  }
}
