.settings__setting {
  padding: 10px 0px;
  border-bottom: 1px solid var(--white);
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.settings__setting span {
  margin-left: 15px;
}

.settings__setting i {
  color: var(--white);
  opacity: 0.8;
}

.settings__setting__column:last-child {
  color: var(--white);
  opacity: 0.3;
}
