.badge {
  display: block;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  color: white;
  background-color: rgb(255, 70, 70);
  display: flex;
  justify-content: center;
  align-items: center;
}

.badge_spacial {
  width: 44px;
  border-radius: 35px;
}

.nav__btn__etc,
.badge_dot_display {
  position: relative;
}

.nav__btn_dot {
  display: flex;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background-color: rgb(255, 70, 70);
  position: absolute;
  bottom: 30px;
  right: -6px;
}

.badge_dot {
  display: flex;
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 70, 70);
  position: absolute;
  bottom: 17px;
  right: -6px;
}

.badge_dot_emoticons {
  width: 5px;
  height: 5px;
  border-radius: 50%;
  background-color: rgb(255, 70, 70);
  position: absolute;
  bottom: 110px;
  right: 20px;
}

.more-icons > .badge_dot_display {
  animation: flyingDot 2s ease-in-out infinite;
}

@keyframes flyingDot {
  0% {
    transform: none;
  }
  50% {
    transform: rotateY(180deg);
  }
  100% {
    transform: none;
  }
}
